* {
  border: none;
  font-size: 100%;
  margin: 0;
  outline: none;
  padding: 0;
  vertical-align: baseline;
}

html {
  font-family: 'Montserrat';
}

body {
  background: #FFF;
  width: 100%;
}

h1 {
  color: #0E0E0E;
  font-size: 48px;
}

p {
  color: #A9A9A9;
  font-family: 'Montserrat';
  font-size: 14px;
  font-weight: 300;
  line-height: 30px;
}

.navbar {
  border-bottom: 1px solid #EFEFF1;
  font-family: 'Montserrat';
  font-size: 14px;
  font-weight: 600;
  height: 60px;
  letter-spacing: 0.8px;
  margin: 0;
  padding-top: 5px;
  position: fixed;
  /* text-transform: uppercase; */
}

.navbar-default {
  background: #FFF;
  transition: all 0.6s ease;
}

.navbar-default .navbar-nav > li > a:hover {
  color: #FBC02D;
  transition: all 0.5s ease;
}

.navbar-brand {
  color: #000 !important;
  font-size: 14px;
  font-weight: 600;
  /* letter-spacing: 2px; */
}

.navbar-default .navbar-toggle {
  border-radius: 0;
  border-color: transparent;
}

.navbar-default .navbar-toggle:hover {
  background-color: transparent;
}

.navbar-default .navbar-toggle:focus {
  border-radius: 0;
  background-color: transparent;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: #0E0E0E;
}

.navbar-default .navbar-collapse {
  background-color: #FFF;
  border-color: transparent;
  text-align: center;
}

.navbar-default .navbar-collapse {
  border: 0;
}

.navbar-default .navbar-nav > li > a:hover {
  color: #FBC02D;
}

@media screen and (max-width: 767px) {
  .navbar-default .navbar-nav > li > a {
    margin-top: 10px;
  }
}

.nomad {
  background: url(../images/background_image.jpg) no-repeat center center;
  background-size: cover;
  height: 100vh;
  margin: 0;
  overflow-y: hidden;
  padding: 100px 0;
  width: 100%;
}

.nomad .introduction {
  padding: 75px 0;
}

.nomad .introduction h1 {
  color: #FFF;
  font-family: 'Montserrat';
  font-size: 53px;
  font-weight: 400;
  line-height: 1.1;
}

.nomad .introduction p {
  color: #FFF;
  font-family: 'Montserrat';
  font-size: 15px;
  font-weight: 400;
  line-height: 2;
  margin: 0 auto;
  margin-top: 25px;
}

.btn-action {
  background: #000;
  border-radius: .125rem;
  margin-right: 12px;
  margin-top: 25px;
  padding: 0.7rem 1.7rem;
}

.btn-action span {
  color: #FFF;
  font-family: 'Montserrat';
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 1.5px;
}

@media screen and (max-width: 767px) {
  .nomad {
    padding: 225px 0;
  }

  .nomad .introduction h1 {
    color: #FFF;
    font-family: 'Montserrat';
    font-size: 40px;
    font-weight: 400;
    line-height: 1;
  }
}

.review .text {
  padding: 100px 0;
  width: 100%;
}

.review .text h2 {
  font-family: 'Montserrat';
  font-size: 28px;
  font-weight: 400;
  line-height: 1.1;
}

.review .text p {
  color: #A9A9A9;
  font-family: 'Montserrat';
}

@media screen and (max-width: 767px) {
  .review .text {
    padding: 40px 0 50px 0;
    width: 100%;
  }
}

.feature {
  margin-top: 100px;
}

.feature .text {
  padding: 100px 0;
  width: 100%;
}

.feature .text h2 {
  font-family: 'Montserrat';
  font-size: 28px;
  font-weight: 400;
  line-height: 1.1;
}

.sm-title {
  color: #FBC02D !important;
  font-family: 'Montserrat';
  letter-spacing: 14px;
  text-transform: uppercase;
}

.feature .text p {
  color: #A9A9A9;
  font-family: 'Montserrat';
}

@media screen and (max-width: 767px) {
  .feature {
    margin-top: 0;
  }

  .feature .text {
    padding: 40px 0 70px 0;
    width: 100%;
  }
}

.cta {
  background: url(../images/viktor-theo-ZD-uUKGC3Kk-unsplash.jpg) no-repeat center center;
  background-size: cover;
  height: 100%;
  margin: 0;
  padding: 80px 0;
  width: 100%;
}

.cta .col-sm-6 {
  right: 50px;
}

.cta .cta-inner {
  padding: 50px 50px;
  width: 100%;
}

.cta .cta-inner h2 {
  color: #FFF;
  font-family: 'Montserrat';
  font-size: 28px;
  font-weight: 400;
  line-height: 1.1;
}

.cta .cta-inner p {
  color: #DCDCDC;
  font-family: 'Montserrat';
}

@media screen and (max-width: 767px) {
  .cta .col-sm-6 {
    right: unset;
  }

  .cta-inner {
    width: unset;
  }
}

.cta-inner-2 {
  background: #FBC02D;
  padding: 50px 90px;
  text-align: left;
  width: 90%;
}

.cta-inner-2 h2 {
  color: #FFF;
  font-family: 'Montserrat';
  font-size: 28px;
  text-align: left;
}

.cta-inner-2 .btn-action {
  background: #FFF;
  border-radius: .125rem;
  margin-right: 12px;
  margin-top: 25px;
  padding: 0.7rem 1.7rem;
}

.cta-inner-2 .btn-action span {
  color: #FBC02D;
  font-family: 'Montserrat';
  font-size: 10px;
  font-weight: 500;
  letter-spacing: 1.5px;
}

@media screen and (max-width: 767px) {
  .cta-inner-2 {
    width: unset;
    padding: 50px 50px;
  }
}

.register {
  background: url(../images/artur-aldyrkhanov-tC0g72uns0M-unsplash.jpg) no-repeat center center;
  background-size: cover;
  height: 100%;
  margin: 0;
  padding: 40px 0;
  width: 100%;
}

.register .col-sm-6 {
  right: 50px;
}

.register-inner {
  background: #FFF;
  padding: 50px 50px;
  width: 630px;
}

.register h2 {
  color: #000;
  font-family: 'Montserrat';
  font-size: 28px;
}

.register p {
  color: #000;
  font-family: 'Montserrat';
  font-size: 14px;
}

.register .btn-action span {
  color: #FFF;
  font-family: 'Montserrat';
  font-size: 10px;
  font-weight: 500;
  letter-spacing: 1.5px;
}

@media screen and (max-width: 767px) {
  .register .col-sm-6 {
    right: unset;
  }

  .register-inner {
    width: unset;
  }
}

hr {
  border-color: #FBC02D;
  width: 30px;
}

.cta-2 {
  background: #212121;
  background-size: cover;
  height: 100%;
  margin: 0;
  padding: 80px 0;
  width: 100%;
}

.cta-2 .col-sm-6 {
  right: 50px;
}

.cta-2 .cta-2-inner {
  padding: 50px 50px;
  width: 100%;
}

.cta-2 .cta-2-inner h2 {
  color: #FFF;
  font-family: 'Montserrat';
  font-size: 28px;
  font-weight: 400;
  line-height: 1.1;
}

.cta-2 .cta-2-inner p {
  color: #DCDCDC;
  font-family: 'Montserrat';
}

.cta-2-inner .btn-action {
  background: #FFF;
  border-radius: .125rem;
  margin-right: 12px;
  margin-top: 25px;
  padding: 0.7rem 1.7rem;
}

.cta-2-inner .btn-action span {
  color: #000;
  font-family: 'Montserrat';
  font-size: 10px;
  font-weight: 500;
  letter-spacing: 1.5px;
}

@media screen and (max-width: 767px) {
  .cta-2 .col-sm-6 {
    right: unset;
  }

  .cta-2-inner {
    width: unset;
  }
}

.cta-2-inner-2 {
  background: #FBC02D;
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.3);
  padding: 50px 90px;
  text-align: left;
  width: 90%;
}

.cta-2-inner-2 h2 {
  color: #FFF;
  font-family: 'Montserrat';
  font-size: 28px;
  text-align: left;
}

.cta-2 .cta-2-inner-2 p {
  color: #FFF;
  font-family: 'Montserrat';
  font-size: 12px;
}

@media screen and (max-width: 767px) {
  .cta-2-inner-2 {
    width: unset;
    padding: 50px 50px;
  }
}

@media screen and (max-width: 767px) {
  .google-maps {
    padding-top: 30px;
    position: relative;
  }

  .google-maps iframe {
    width: 100% !important;
  }
}

.mt-100px {
  margin-top: 100px;
}

.top--200px {
  top: -200px;
}
